
.content_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .content_wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .content_image_block {
            width: 20vw;
            height: 20vh;
        min-width: 270px;
        min-height: 270px;
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        background-position-y: top;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22);
        cursor: pointer;
        &:hover {
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32);
        }
    }
}
    .content_loadmore_button {
        font-size: 30px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88px;
        width: 333px;
        background: #cfcfcf;
        box-shadow: 5px 5px 15px 5px rgb(0, 0, 0, 0.22);
        cursor: pointer;
        &:hover {
            background: #b7b7b7;
        }
        &:active {
            background: lightgrey;
        }
    }
}
