
.navbar_wrapper {
    display: flex;
    justify-content: space-evenly;
    min-height: 100px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.navbar_links {
    height: 60px;
    width: 150px;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: lightgrey;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
        background: #b7b7b7;
    }
    &:active {
        background: lightgrey;
    }
}

.selected {
    background: #8f8f8f;
}